/* .Body {
    position: relative;

    height: 5120px;

    background: #0B0126;
} */

.nav {
    top: 0;
    box-sizing: border-box;
    width: auto;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(117.5deg, rgba(255, 255, 255, 0.15) -69.92%, rgba(255, 255, 255, 0.17) -69.92%, rgba(255, 255, 255, 0.21) -69.9%, rgba(255, 255, 255, 0.13) -48.83%, rgba(255, 255, 255, 0.09) 82.65%);
    border: 1px solid #050839;
    box-shadow: 4px -4px 24px -1px rgba(24, 30, 97, 0.2);
    backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 0px;
    margin-bottom: 73px;


}

.nav-items {
    list-style: none;
    display: flex;
    color: #FFFFFF;


}

/* @import url('../image/logo.png'); */

.imag {
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    /* background-image: url('../image/logo.png'); */

    /* width: 200px;
    height: 300px; */
    object-fit: cover;
}


@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

.nav-items li {
    padding: 15px;
    font-family: 'PT Sans Narrow';
    font-style: normal;
    height: fit-content;
    margin: auto;
    font-weight: 600;
    font-size: 22px;
    line-height: 18px;
    /* or 481% */
}

.signup {
    width: 100px;
    height: 50px;


    background: linear-gradient(180deg, #AF18B1 0%, rgba(175, 24, 177, 0.177083) 82.29%, rgba(175, 24, 177, 0) 100%);
    border-radius: 30px;

    border-color: transparent;
    font-family: 'PT Sans Narrow';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 10px;
    padding: 4px;
    /* or 481% */
}

.signup:hover {
    background-color: #0B0126;
    color: white;
}