.App {
  text-align: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 49px;
  /* display: none; */
}

#root {
  /* height: 250vh; */
  background-color: #050839;
  /* display: none; */
}